body{
    background-color: rgb(43, 39, 39);
}
main{
    background-color: #47424225;
    text-align: center;
    height: 500px;
    width: 300px;
    margin-left: 39%;
    margin-top: 70px;
    border-radius: 10px;
}
img{
    border-radius: 90px;
    height: 100px;
    width: 100px;
    position: relative;
    top: 30px;
}
.name{
    color: white;
    font-size: 20px;
}
span{
    font-size: 15px;
    color: yellow;
}
.about{
    color: white;
    font-size: 17px;
}
a{
    display: block;
    background-color: gray;
    color: white;
    width: 200px;
    padding: 10px 12px;
    text-decoration: none;
    position: relative;
    left: 43px;
    border: 1px solid black;
    border-radius: 5px;
}
a:hover{
    background-color: #1da1f2;
}
a:focus{
    background-color: #1da1f2;
}
@media screen and (max-width: 945px){
    main{
        position: relative;
        right: 80px;
    }
    
}

@media screen and (max-width: 450px){
    main{
        margin-right: 100px;
    }
    
}
@media screen and (max-width: 650px){
    main{
        position: relative;
        right: 70px;
    }
    
}